
@{
    ViewBag.Title = "Chi tiết khách hàng";
}

<h2>Chi tiết khách hàng</h2>
<p>Mã số: @ViewBag.customer.CustomerId </p>
<p>Họ và tên: @ViewBag.customer.FullName </p>
<p>Địa chỉ: @ViewBag.customer.Address </p>
<p>Điện thoại: @ViewBag.customer.Phone </p>
<p>Email: @ViewBag.customer.Email </p>
<p>Số tiền dư: @ViewBag.customer.Balance </p>

